@model TokenModel

@{
    ViewBag.Title = "See token here";
    Layout = "_Layout";
}
@{
    var identityLink = $"https://jwt.io/#debugger-io?token={@Model.Token.IdentityToken}";
    var accessLink = $"https://jwt.io/#debugger-io?token={@Model.Token.AccessToken}";
}
<h2>title</h2>
<a href = "@identityLink">Identity token</a>
<a href = "@accessLink">Access token</a>

<p>@Model.UserInfo.Json</p>
